body{
font-family: 'Special Elite ',cursive;
background-color: rgb(119, 182, 241);
}


.header_div{
background-color:rgb(94, 250, 94) ;
color: aliceblue;
}

.footer{
    position: fixed;
    color: rgb(164, 88, 235);
    background-color: rgb(243, 69, 185);
    width: 100%;
    bottom:0;
    line-height: 3;
    text-align: center;
    font-size: 20px;
}


















